@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
:host {
  --background-color: #fff;
  --accent-color: #0ca4a5;
  --subtle-accent-color: #e3ffff;
  --secondary-color: #7d68d0;
  --subtle-secondary-color: #f2efff;
  --text-color: #333333;
  --subtle-text-color: #777777;

  display: block;

  .resume {
    border-radius: 10px;
    padding: 10px 0;
    display: grid;
    color: var(--text-color);
    font-family: Ubuntu, sans-serif;
    background-color: var(--background-color);

    section {
      padding: 5px;
      margin: 10px;
      border-radius: 10px;

      .section-title {
        font-size: 24px;
        margin: 0;
        margin-bottom: 16px;
        border-bottom: 1px solid var(--accent-color);
      }

      &.name-and-contact {
        grid-area: name;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h1 {
          font-size: 56px;
          margin: 0;
          font-weight: 300;
          color: var(--accent-color);
          text-align: center;
        }

        h5 {
          color: var(--subtle-text-color);
          margin: 0;
          font-size: 24px;
          font-weight: 300;
          text-align: center;
        }

        ul {
          list-style: none;
          padding: 0;
          display: grid;
          margin-left: auto;
          margin-right: auto;

          li {
            display: flex;
            align-items: center;

            svg-icon {
              margin-right: 10px;
            }

            a {
              text-decoration: none;
              color: var(--text-color);
              border-bottom: 1px dotted var(--accent-color);
              padding-bottom: 2px;

              &:hover {
                color: var(--accent-color);
                border-bottom-style: solid;
              }
            }

            &.birthday {
              grid-area: birthday;
            }
            &.location {
              grid-area: location;
            }
            &.experience {
              grid-area: experience;
            }
            &.email {
              grid-area: email;
            }
            &.linkedin {
              grid-area: linkedin;
            }
            &.website {
              grid-area: website;
            }
            &.github {
              grid-area: github;
            }
            &.languages {
              grid-area: languages;
            }
          }
        }
      }
      &.photo {
        grid-area: photo;
        display: flex;
        align-items: center;
        justify-content: center;

        .avatar {
          border-radius: 50%;
          border: 3px solid var(--accent-color);
          max-width: 100%;
          max-height: 150px;
          box-sizing: border-box;
        }
      }
      &.about {
        grid-area: about;
      }
      &.work {
        grid-area: work;

        .experiences-container {
          .experience {
            margin-top: 16px;
            .title {
              div {
                font-size: 18px;
                display: block;
                margin-bottom: 5px;
                color: var(--subtle-text-color);

                .company-name {
                  color: var(--accent-color);
                  font-size: 20px;
                }
              }
              small {
                font-size: 16px;
                color: var(--subtle-text-color);
              }
            }

            ul {
              padding: 0;
              margin-top: 20px;
              padding-left: 16px;
              text-align: justify;

              li {
                margin-bottom: 5px;
                font-size: 16px;

                &::marker {
                  color: var(--accent-color);
                }
              }
            }
          }
        }
      }
      &.education {
        grid-area: education;
      }
      &.community {
        grid-area: community;
      }
      &.skills {
        grid-area: skills;

        ul {
          list-style: none;
          padding: 0;

          li {
          }
        }
      }
    }
  }

  .tags-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2px 0 5px;
  }

  .tag {
    background-color: var(--subtle-accent-color);
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    border-radius: 0.25em;
    display: inline-block;
    font-size: 0.75em;
    line-height: 2em;
    margin: 0.125em;
    padding: 0 0.5em;
    text-decoration: none;
    white-space: nowrap;

    &.secondary {
      background-color: var(--subtle-secondary-color);
      border: 1px solid var(--secondary-color);
      color: var(--secondary-color);
    }
  }

  // Easily configurable stuff for easy access
  .resume {
    grid-gap: 5px;

    grid-template-columns: 1fr;
    grid-template-areas: 
      "photo"
      "name"
      "about"
      "skills"
      "work"
      "education";

    @media (min-width: 768px), print {
      padding: 30px 20px;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;

      grid-template-areas:
        "name photo"
        "work about"
        "work skills"
        "work education";

        section {
          padding: 16px;

          &.name-and-contact {
            h1, h5 {
              text-align: left;
            }
          }
        }
    }

    @media (min-width: 900px), print {
      margin: 20px auto;
      max-width: 210mm;      
      box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.6),
        1px 3px 8px rgba(39, 44, 49, 0.3);
    }

    section.name-and-contact ul {
      grid-gap: 10px;
      grid-template-columns: 1fr 1fr;

      grid-template-areas:
        "email email"
        "website website"
        "location languages"
        "birthday experience"
        "github linkedin";

      li {
        &.email{
          margin: 0 auto;
        }
        &.website {
          display: none;
        }
      }

      @media (min-width: 768px), print {
        margin-left: 0;
        margin-right: 0;
        
        grid-gap: 5px;
        grid-template-columns: 1fr 1fr;

        grid-template-areas:
          "location github"
          "birthday linkedin"
          "experience email"
          "languages website";

          li {
            &.email{
              margin: 0;
            }
            &.website {
              display: block;
            }
          }
      }
    }    
  }
}

//Dark mode
@media (prefers-color-scheme: dark)  {
  :host {
    --background-color: #32343e;
    --accent-color: #00f9fb;
    --subtle-accent-color: #005B5B;
    --secondary-color: #a491f1;
    --subtle-secondary-color: #2d2a3e;
    --text-color: #dffcfd;
    --subtle-text-color: #9eb4b5;
  }
}

// Print-specific styles
@media print {
  :host {
    .resume {
      box-shadow: none;
      margin: 0;
      padding: 0;
      max-height: 287mm;
      overflow: hidden;

      section {
        margin: 0;

        &.name-and-contact ul {
          grid-template-areas:
            "location email"
            "birthday website"
            "experience ."
            "languages .";
        }
      }

      .screen-only {
        display: none !important;
      }

      a {
        border: none !important;
      }
    }

  }
}

@page {
  padding: 0;
  margin: 0cm;
  size: A4 portrait;
}
