:host {
  svg {
    height: 40px;
    width: auto;
    max-width: 100%;

    #web {
      fill: var(--text-color);
      stroke: var(--text-color);
    }

    #name {
      fill: var(--accent-color);
      stroke: var(--accent-color);
    }
  }
}
