:host {
  display: inline;

  svg {
    fill: var(--accent-color);
    max-width: 20px;
    height: 20px;    
  }

  .small {
    svg {
      fill: var(--subtle-text-color);
      max-width: 14px;
      height: 14px;    
    }
  }
}